.navbar-brand {
  color: white;
}

.navbar-nav {
  justify-content: space-between;
}



.nav-link {
  color: white;
  font-size: 20px;
}

#mainnav li> a:hover{
  color: white;
}


@media screen and (max-width:600px) {
  #abtme{
    font-size: 60px !important;
    margin-bottom: -110px !important;
  }
  #div{
    display: none !important;
  }
  
}
